.calendar {
  border: 12px solid #fff;
  border-radius: 35px;
  background: #b9c7fc;
  box-shadow: -25px 25px 50px #8e99c2, 25px -25px 50px #e4f5ff;
}
.calendar_box {
  margin: 80px auto;
  width: 850px;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #a571f342;
  border-radius: 5px;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes_month {
  font-size: 28px;
  text-align: center;
}
.notes_month section {
  font-size: 28px;
}
.button_form {
  margin-top: 25px;
  margin-left: 79.9%;
  
}
