.calendar {
  border: 12px solid #fff;
  border-radius: 35px;
  background: #b9c7fc;
  box-shadow: -25px 25px 50px #8e99c2, 25px -25px 50px #e4f5ff;
}
.calendar_box {
  margin: 80px auto;
  width: 850px;
  
}
.nextGo {
  font-size: 12px;
  background-color: #00ff0d;
  border-radius: 5px;
}

.no_Go {
  font-size: 12px;
  background-color: #e25c6ee3;
  border-radius: 5px;
}

.events .ant-badge {
  font-size: 8px;
}
.events {
  margin-bottom: 1px;
  list-style: none;
  background-color: #a571f342;
  border-radius: 5px;
  
}
.no_events {
  margin-bottom: 1px;
  list-style: none;
  background-color: #e25c6ee3;
  border-radius: 5px;
}

.notes_month {
  font-size: 28px;
  text-align: center;
}
.notes_month section {
  font-size: 28px;
}
.button_form {
  margin-top: 25px;
  margin-left: 79.9%;
}
.doIt {
  font-size: 12px;
  border-bottom: 1px solid black;
}

.card_styles {
  width: 600;
  margin-bottom: 10px;
}

.cardContainer{
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.switch_left {
  text-align: end
}

.h3 {
  font-weight: bolder;
}
