.calendar_box {
  margin-top: 100px;
  width: 93%;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes_month {
  font-size: 28px;
  text-align: center;
}
.notes_month section {
  font-size: 28px;
}
.button_form {
  margin-top: 10px;
  margin-left: 79.9%;
}
