.info {
  text-align:left;
}
.input {
  display: none;
}
.lishka {
margin-top: 5px;
}

.feedBack {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.col{
  display: flex;
  flex-direction: column;
  
}
.avatar {

  object-fit: cover;
  width: 100%;
}

