.main_page {
  margin: 0 20px;
}
.colCentre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    align-content: flex-start;
    flex-direction: column;
}

.card {
  color: black;
}
.card_doc {
  display: flex;
  
  align-items: center;

}
.input_sort {
  height: 20px;
  margin-bottom: 30px;
  display: inline-block;
}
.span{
  padding-right: 20px;
}
.news {
  padding: 20px;
  /* display: flex; */
  /* align-content:space-between ; */
}
 .text {
   text-align: justify;
 }
.doctors {
  display: flex;
  flex-wrap: wrap;
}


