.card {
  color: black;
}

.news {
  padding: 20px;
  /* display: flex; */
  /* align-content:space-between ; */
}
 .text {
   text-align: justify;
 }

.radius {
  border-radius: 20px;
  margin: 20px;
  border: 1px solid black;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  padding: 10px;
}

.meta:hover {
  /* background: tomato; */
  color: aquamarine;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.scrollableContainer {
  overflow-y:scroll;
  width: 100%;
  height: 100vh;
  border: solid 1px black;
}
