.card {
  color: black;
}

.news {
  padding: 20px;
  /* display: flex; */
  /* align-content:space-between ; */
}
 .text {
   text-align: justify;
 }

 .colCentre{
   /* background-color: white; */
   /* display: f
   balex;
   flex-direction: column; */
   /* margin-left: 10px; */
 }

.radius {
  
  border-radius: 20px;
  margin: 20px;
  border: 1px solid black;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  padding: 10px;
  width: 500px;
  align-self: center;

}

.radius:hover {
  /* color: rgb(255, 127, 127); */
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  /* transition: top 1s ease-out 1.5s; */
}


.scrollableContainer {
  overflow-y:scroll;
  width: 100%;
  height: 100vh;
  /* border: solid 1px black; */
}
