.button {
  line-height: 31px;
  border-radius: 10px;
  height: 40px;
  background: #b9c7fc;
  border-color: #b9c7fc;
  box-shadow:  -7px 7px 16px #9aa5d1,
  7px -7px 16px #d8e9ff;
  margin-bottom: 15px;
  
  &:hover {
    color: #fff;
    background: #96a1cc;
    border-color: #96a1cc;
  }
  &__del {
    line-height: 31px;
    border-radius: 10px;
    height: 40px;
    background: #e4532e;
    border-color: #e4532e;
    box-shadow:  -7px 7px 16px #e4532e,
  7px -7px 16px #d8e9ff;
    margin-bottom: 5px;
  }
}



