/* .list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */

.switch_right {
  margin-top: 20px;
  margin-right: 20px;
  text-align: end;
  margin-bottom: 20px;
}

.date_description {
  text-align: end;
  margin-top: 10px;
}

.row {
  row-gap: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around
}

.historyBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.margin_block{
  width: 400px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.filter_box {
  display: flex;
  flex-direction:row;
}

.input_sort {
  height: 20px;
  margin-bottom: 30px;
  display: inline-block;
}

.span{
  padding-right: 20px;
}

.switch_right_size{
  margin-top: 20px;
  margin-right: 20px;
  text-align: end;
  margin-bottom: 20px;
  font-size: 16px;
}