.ant_card_bordered{
  margin-top: 20px;
  border-radius: 20px;
  background-color: #ecf0f3;
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
}
.ant_list_item{
display: flex;
justify-content: space-between;
width: 100%;
}

.item{
  font-size: 20px;
  display: flex;
  flex-direction: row;
}
.button{
  display: flex;
  justify-content: space-between;
}
.item_access{
  font-size: 20px;
}

.card{
  margin-top: 20px;
    border-radius: 20px;
    width: 700px;
    background-color: #ecf0f3;
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
}

.admin_panel {

}
