.left_col {
  background-color: #fff;
  height: 100vh;
}

.right_col {
      display: flex;
      flex-direction: column;
    align-content: space-between;
    flex-wrap: nowrap;
    
    align-items: center;
    /* justify-content: center; */
}
.admin_page {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.admin_pageBox {
  width: 100%;
}

