.left_col {
  background-color: #fff;
}

.right_col {
      display: flex;
      flex-direction: column;
    align-content: space-between;
    flex-wrap: nowrap;
    
    align-items: center;
    justify-content: center;
}

.title {
margin-top: 20px;
font-size: 35px;
}
