.left_col {
  background-color: #fff;
}

.right_col {
      display: flex;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

