
.radius {
  
  box-sizing: border-box;
  margin: 20px;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings:'tnum', "tnum", "tnum";
  background: #fff;
  border: 12px solid #fff;
  border-radius: 35px;
  box-shadow: -25px 25px 50px#8e99c2, 25px -25px 50px#e4f5ff;
  height: 300px;
  width: 650px;

}
