.header {
  display: flex;
  justify-content: space-between;
}
.menu a{
  font-size: 17px;
}
.logo {
  color: #000;
  position: relative;
  height: 65px;
  width: 100px;
}
/* .logo span{
  position: absolute;
  top: 45px;
  left: 60px;
  font-size: 15px;
  line-height: 15px;
} */

.logo a{
  color: #000;
}

.logoImg {
  height: 38px;
  position: absolute;
  left: 78px;
  top: 3px;
}
.dh {
  color: red;
  font-family: 'Staatliches', cursive;
  position: absolute;
  font-size: 53px;
  line-height: 30px;
  left: 26px;
  top: 23px;
}
.ouse {
  font-size: 17px;
  line-height: 10px;
  top: 45px;
  left: 78px;
  position: absolute;
}
